# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/

# Environment
.env

# Data & artifacts
data/
*.db
*.sqlite3
mlruns/
mlartifacts/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Github
.github/
